body {
    background-color: #FFE5B4
}

body{
    padding: 20px;
}

p {
   font-size: x-large;
}

p {
    border-radius: 10px;
    border-style: solid;
    padding: 20px;
    border-color: white;
}

image {
    border-radius: 10px;
    border-style: solid;
    padding: 20px;
    border-color: #ffb6c1
}

.container{
    font-size: x-large;
    text-align: center;
}